<div class="ui-g" [style]="{margin: '50px'}">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-panel>
        <p-header>
            {{title}}
        </p-header>
        <div style ="margin-bottom: 20px;">
            <p-menubar [model]="items"></p-menubar>
        </div>
        <p-table [value]="paintingtypes" [columns]="cols" [paginator]="true" [rows]="10" [responsive]="true" selectionMode="single" [(selection)]="selectedPaintingType" dataKey="id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-paintingtype let-columns="columns">
                <tr [pSelectableRow]="paintingtype">
                    <td *ngFor="let col of columns">
                        {{paintingtype[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Painting Type"  [responsive]="true" [(visible)]="displaySaveDialog">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">Description</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="descripcion" [(ngModel)]="paintingtype.descripcion" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>