<div class="ui-g" [style]="{margin: '50px'}">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-panel>
        <p-header>
            {{title}}
        </p-header>
        <div style ="margin-bottom: 20px;">
            <p-menubar [model]="items"></p-menubar>
        </div>
        <p-table [value]="costs" [columns]="cols" [paginator]="true" [rows]="10" [responsive]="true" selectionMode="single" [(selection)]="selectedCost" dataKey="id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cost let-columns="columns">
                <tr [pSelectableRow]="cost">
                    <td *ngFor="let col of columns">
                        {{cost[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Cost"  [responsive]="true" [(visible)]="displayCostSaveDialog">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12" [style]="{height: '400px'}">
                <div class="ui-g-4">
                    <label for="cost.paintingType">Painting Type</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="paintingTypes" [(ngModel)]="cost.paintingType" [filter]="true" 
                                (ngModelChange)="onSelectPaintingType($event)" placeholder="Select"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <label for="cost.damageCategory">Damage Category</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="damageCategories" [(ngModel)]="cost.damageCategory" [filter]="true" 
                                (ngModelChange)="onSelectDamageCategory($event)" placeholder="Select"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <label for="cost.damageDepthLevel">Damage Depth Level</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="damageDepthLevels" [(ngModel)]="cost.damageDepthLevel" [filter]="true" 
                                (ngModelChange)="onSelectDamageDepthLevel($event)" placeholder="Select"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <label for="cost">Cost</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="cost" [(ngModel)]="cost.cost" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>